.sectionTMZ {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#355b6c, rgb(37, 37, 37));
  top: 100vh;
  z-index: 11;
}

.sectionYaMZ {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(23, 26, 26), #355b6c);
  top: 100vh;
  z-index: 12;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.sectionYaMZ .sectionYaMZcontainer {
  height: 100vh;
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.sectionYaMZ .sectionYaMZcontainer .YaMZName {
  font-size: 32px;
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
  text-align: center;
}
@media (max-width: 767px) {
  .sectionYaMZ .sectionYaMZcontainer .YaMZName {
    font-size: 22px;
  }
}
.sectionYaMZ .sectionYaMZcontainer .YamzDescription {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .sectionYaMZ .sectionYaMZcontainer .YamzDescription {
    flex-direction: column;
  }
}
.sectionYaMZ .sectionYaMZcontainer .YamzDescription img {
  width: 500px;
  border-radius: 10px;
  margin-right: 25px;
}
@media (max-width: 767px) {
  .sectionYaMZ .sectionYaMZcontainer .YamzDescription img {
    width: 99%;
    margin: 0px 5px;
  }
}
.sectionYaMZ .sectionYaMZcontainer .YamzDescription p {
  font-size: 20px;
  font-family: "Roboto Flex", sans-serif;
  text-align: right;
}
@media (max-width: 767px) {
  .sectionYaMZ .sectionYaMZcontainer .YamzDescription p {
    text-align: center;
    font-size: 15px;
    width: 90%;
  }
}
.sectionYaMZ .sectionYaMZcontainer .toDownloadYaMZ {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sectionYaMZ .sectionYaMZcontainer .toDownloadYaMZ a {
  text-decoration: none;
}
.sectionYaMZ .sectionYaMZcontainer .toDownloadYaMZ .toDownloadLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sectionYaMZ .sectionYaMZcontainer .toDownloadYaMZ .toDownloadLinks p {
  text-decoration: none;
  color: white;
  font-family: "Roboto Flex", sans-serif;
}
.sectionYaMZ .sectionYaMZcontainer .toDownloadYaMZ .toDownloadLinks img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body p {
  margin: 10px 0px;
}

header {
  width: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.7098039216);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: rgb(214, 214, 214);
  font-family: "Roboto Flex", sans-serif;
  width: 100%;
}
header .headerInfoWrapper {
  width: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  header .headerInfoWrapper {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 23px;
  }
}
header p {
  margin: 2px 2px;
}

.start {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: rgb(21, 21, 21);
  background-image: url(./images/osome.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}
@media (max-width: 1200px) {
  .start {
    background-size: cover;
    height: 100vh;
  }
}
.start .mainParagraph {
  font-size: 25px;
  color: rgb(197, 197, 197);
  margin: 150px 100px 110px;
  text-align: center;
  font-weight: 300;
  font-family: "Roboto Flex", sans-serif;
}
@media (max-width: 767px) {
  .start .mainParagraph {
    font-size: 15px;
    margin: 65px 10px 0px;
  }
}

.startContentContainer {
  font-family: "Roboto Flex", sans-serif;
  width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .startContentContainer {
    width: 98%;
  }
}
@media (max-width: 767px) {
  .startContentContainer {
    flex-direction: column;
    width: 98%;
  }
}
.startContentContainer .brandSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .startContentContainer .brandSection {
    flex-direction: column;
    width: 98%;
  }
}
.startContentContainer .brandSection .brandElement {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  transition: 300ms ease;
}
@media (max-width: 767px) {
  .startContentContainer .brandSection .brandElement {
    flex-direction: column;
  }
}
.startContentContainer .brandSection .brandElement:hover {
  width: 190px;
  height: 190px;
  transition: 300ms ease;
}
.startContentContainer .brandSection .startImgContainer {
  width: 210px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  transition: 300ms ease;
}
@media (max-width: 767px) {
  .startContentContainer .brandSection .startImgContainer {
    width: 190px;
    height: 190px;
    margin-top: 30px;
  }
}

.swipeButton {
  width: 100%;
  height: 100px;
  position: relative;
  margin-top: 15px;
}
.swipeButton .swiper {
  width: 50px;
  height: 2px;
  position: absolute;
  background-color: white;
}
.swipeButton .leftPartSwipe {
  left: 49.9%;
  transform: rotate(-15deg);
}
@media (max-width: 767px) {
  .swipeButton .leftPartSwipe {
    left: 49.5%;
  }
}
.swipeButton .rightPartSwipe {
  right: 49.9%;
  transform: rotate(15deg);
}
@media (max-width: 767px) {
  .swipeButton .rightPartSwipe {
    right: 49.5%;
  }
}/*# sourceMappingURL=index.css.map */